@font-face {
	font-family: Poppinsmed;
	src: url(font/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppinsbold;
	src: url(font/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppinslight;
	src: url(font/Poppins-Light.ttf);
}

body {
	margin: 0;
	background-color: white;
	font-family: "Poppinsmed";
}

.bodywrap {
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(100px, auto));
	display: grid;
	margin-top: -180px;
}

.wrapper {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
}

.navwrap {
	width: 100%;
	margin: 0 auto;
	display: grid;
	z-index: 1;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(100px, auto));
	position: relative;
}

h1 {
	font-size: 50px;
	font-family: "Poppinsbold";
	color: white;
}

nav {
	width: 100%;
	display: flex;
}

nav h1 {
	color: black;
}

nav h1.first {
	margin-top: 80px;
}

nav h1.styles {
	margin-top: 100px;
}

header {
	grid-column: 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1 / 3;
	width: 70%;
	align-self: center;
	margin: 0 auto;
	display: block;
}

header nav {
	grid-column: 3 / 12;
	align-self: center;
	position: absolute;
	display: table;
	margin: 0 auto;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	padding-left: 10px;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	position: relative;
	width: 33.333%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: "Poppinsmed";
	transition: 0.2s ease color;
}

header nav a:before,
header nav a:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s ease transform;
}

header nav a:before {
	top: 0;
	left: 10px;
	width: 6px;
	height: 6px;
}

header nav a:after {
	top: 5px;
	left: 18px;
	width: 4px;
	height: 4px;
}

.button {
	display: block;
	grid-column: 11 / 13;
	height: 40px;
	font-weight: 600;
	line-height: 40px;
	font-size: 14px;
	text-decoration: none;
	color: white;
	background: #214051;
	letter-spacing: 2px;
	border-radius: 0px;
	text-align: center;
	position: relative;
	padding: 1px 10px;
	transition: all 0.35s;
	top: 25%;
}

.button span {
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button::before,
.button::after {
	transform: none;
	content: "";
	position: inherit;
	border-radius: 0;
}

.button:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #04838d;
	border-radius: 0px;
	margin: 0 auto;
	transition: all 0.35s;
}

.button:hover {
	color: #fff;
}

.button:hover:after {
	width: 100%;
}

header nav .active {
	color: #04838d;
}

header nav .active ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	left: 4%;
	width: 45px;
}

header nav a:hover {
	color: #04838d;
}

header nav a:hover:before,
header nav a:hover:after {
	transform: scale(1);
}

header nav a:nth-child(1):hover ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	width: 100%;
}

header .button {
	margin-bottom: 30px;
	width: 75%;
}

.intro {
	grid-column: 2/7;
	margin-bottom: 21px;
	border-bottom: 1px solid #214051;
}

.intro h1 {
	color: #214051;
	font-weight: bold;
	font-size: 50px;
}

.backgroundimg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.backgroundimg svg {
	margin-top: -100px;
	z-index: 0;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0/0.4));
	border-top: solid 20px white;
}

.introwrap {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
}

.intro h1:nth-child(1) {
	color: #214051;
}

.intro h1:nth-child(3) {
	grid-row: 1 / 2;
}

.intro .button {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	width: 16%;
}

.infowrapper {
	background-color: #ffffff00;
	margin: 0 auto;
	padding: 0 200px;
	display: grid;
	grid-template-rows: 18em 18em;
	grid-template-columns: 30% 30% 30%;
	grid: row gap 100px;
}

.info {
	padding: 200px 0 300px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 150px auto;
	grid-column-gap: 50px;
}

.info h2 {
	color: black;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: 30px;
}

.info .underlining {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	border-bottom: 1px solid black;
}

.info p {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.info img {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	width: 100%;
}

.info .button {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	width: 25%;
}

.cards {
	padding: 30px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, minmax(100px, auto));
	grid-column-gap: 50px;
	width: 100%;
}

.card1 {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 10% 65%;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

.card2 {
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 10% 65%;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

.card3 {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25% 10% 65%;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

.estetic {
	background-color: #214051;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}
img {
	width: 235px;
	justify-content: center;
	align-items: center;
}

.transform-your-skill {
	display: grid;
	grid-template-columns: 0.2fr 1fr;
	grid-template-rows: repeat(2, minmax(100px, auto));
	grid-column-gap: 10px;
}

.transform-your-skill img:nth-child(1) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	width: 100%;
}

.transform-your-skill div:nth-child(2) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.transform-your-skill img:nth-child(3) {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.transform-your-skill div:nth-child(4) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.methode1 {
	grid-column: 2/4;
	width: 100%;
}
p {
	font: 200;
	color: #04838d;
}
.colorbackground {
	background-color: #04838d;
}
.einde {
	padding: 50px 200px 50px 200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(10em, auto);
	grid-column-gap: 20px;
	color: white;
}
.Ops1 h3 {
	font-family: "Poppinsbold";
}

.Ops1 {
	border-right: 1px solid white;
	padding-right: 20px;
}

.Ops1 p {
	color: white;
}
.Ops2 h3 {
	font-family: "Poppinsbold";
	text-align: center;
}
.Ops2 {
	border-right: 0.5px solid white;
	padding-right: 20px;
}
.Ops2 img {
	width: 100%;
}
footer p {
	line-height: 1.7em;
}
footer p a {
	text-decoration: none;
	color: white;
}

.leftimage {
	grid-column: 2/7;
}

.leftimage img {
	width: 100%;
}

.righttext {
	margin-top: 50px;
	grid-column: 7/11;
	margin-left: 25px;
	color: #214051;
}

.rightimage {
	grid-column: 7/12;
}

.rightimage img {
	width: 100%;
}

.lefttext {
	grid-column: 2/6;
	color: #214051;
	margin-top: -340px;
}

.box1 {
	width: 100%;
	grid-column: 2/5;
	margin-left: 10px;
}
.box2 {
	width: 100%;
	grid-column: 5/8;
	margin-left: 50px;
}
.box3 {
	width: 100%;
	grid-column: 8/11;
	margin-left: 90px;
}
.Ops1 img {
	width: 18%;
}
.dropbtn {
	color: black;
	text-decoration: none;
	position: relative;
	text-align: center;
	font-weight: bold;
	font-family: "Poppinsmed";
	transition: 0.2s ease color;
	border: none;
	background-color: white;
	font-size: 16px;
	background-color: white;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropbtn:hover .dropdown-content {
	display: block;
}
.einde .Ops1:nth-child(5) {
	border: none;
}
