@font-face {
	font-family: Poppinsmed;
	src: url(font/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppinsbold;
	src: url(font/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppinslight;
	src: url(font/Poppins-Light.ttf);
}

body {
	margin: 0;
	background-color: #fff;
	font-family: "Poppinsmed";
	justify-content: center;
	align-items: center;
}

.wrapper {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 11;
	grid-row: 1 / 2;
	background-color: #fff;
}

.navwrap {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(100px, auto));
	position: relative;
	z-index: 1;
}
.backgroundimg svg {
	margin-top: -100px;
	z-index: 0;
	filter: drop-shadow(3px 5px 2px rgb(0 0 0/0.4));
	border-top: solid 20px white;
}

/* block */
.block {
	background-color: #b7dcdb;
	margin-bottom: -300px;
}
h1 {
	font-size: 50px;
	font-family: "Poppinsbold";
	color: #04838d;
}

nav {
	width: 100%;
	display: flex;
}

nav h1 {
	color: black;
}

nav h1.first {
	margin-top: 80px;
}

nav h1.styles {
	margin-top: 100px;
}

header {
	grid-column: 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1 / 3;
	width: 100%;
	align-self: center;
	margin: 0 auto;
	display: block;
}

header nav {
	grid-column: 3 / 11;
	align-self: center;
	position: absolute;
	display: table;
	margin: 0 auto;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	padding-left: 15px;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	position: relative;
	width: 33.333%;
	text-align: center;
	font-weight: bold;
	font-family: "Poppinsmed";
	transition: 0.2s ease color;
}

header nav a:before,
header nav a:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s ease transform;
}

header nav a:before {
	top: 0;
	left: 10px;
	width: 6px;
	height: 6px;
}

header nav a:after {
	top: 5px;
	left: 18px;
	width: 4px;
	height: 4px;
}

.button {
	display: block;
	grid-column: 11 / 13;
	height: 40px;
	font-weight: 600;
	line-height: 40px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	background: #214051;
	letter-spacing: 2px;
	border-radius: 0px;
	text-align: center;
	position: relative;
	padding: 5px 15px;
	transition: all 0.35s;
	top: 25%;
}

.button span {
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button::before,
.button::after {
	transform: none;
	content: "";
	position: inherit;
	border-radius: 0;
}

.button:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #04838d;
	border-radius: 0px;
	margin: 0 auto;
	transition: all 0.35s;
}

.button:hover {
	color: #fff;
}

.button:hover:after {
	width: 100%;
}

header nav .active {
	color: #04838d;
}

header nav .active ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	left: 4%;
	width: 45px;
}

header nav a:hover {
	color: #04838d;
}

header nav a:hover:before,
header nav a:hover:after {
	transform: scale(1);
}

header nav a:nth-child(1):hover ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	width: 100%;
}

header .button {
	margin-bottom: 30px;
	width: 75%;
}
/* onze team title */
.intro {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax(100px, auto));
	position: relative;
	color: #214051;
	opacity: 1;
}
.introwrap {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
}

.intro h1 {
	border-bottom: 1px solid #214051;
	width: 35%;
	padding-bottom: 20px;
}

/* onze team bubble*/
.bubble {
	height: 100px;
	justify-content: center;
	padding-left: 222px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
}

.image:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}

.image img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 10px;
}
.buttonimg p {
	margin: 0 auto;
	align-items: center;
	padding: 0;
	text-align: center;
}

.bubble1 {
	height: 100px;
	margin-left: 500px;
	justify-content: center;
	padding-left: 300px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
}

.image1:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image1 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 300px;
	width: 300px;
	border-radius: 100%;
	border: 10px;
}

.bubble2 {
	height: 100px;
	margin-left: 200px;
	justify-content: center;
	padding-left: 300px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image2:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image2 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 10px;
	margin-left: 30px;
}

.image2 p {
	align-items: left;
	text-align: center;
}

.bubble3 {
	height: 100px;
	margin-left: 500px;
	justify-content: center;
	padding-left: 600px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image3:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image3 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 170px;
	width: 170px;
	border-radius: 100%;
	border: 10px;
	margin-left: 0px;
}

.bubble4 {
	height: 100px;
	margin-left: 500px;
	justify-content: center;
	padding-left: 800px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 100px;
	display: flex;
	text-align: center;
}

.image4:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image4 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.image4 p {
	align-items: left;
	text-align: center;
}

.bubble5 {
	height: 100px;
	margin-left: 220px;
	justify-content: center;
	padding-left: 300px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-wrap: nowrap;
}

.image5:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image5 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 180px;
	width: 180px;
	border-radius: 100%;
	border: 10px;
	margin-left: 20px;
}

.bubble6 {
	height: 100px;
	margin-left: 650px;
	justify-content: center;
	padding-left: 20px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image6:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image6 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 120px;
	width: 120px;
	border-radius: 100%;
	border: 10px;
}
.image6 p {
	padding-bottom: 120px;
}
.bubble7 {
	height: 80px;
	margin-bottom: -125px;
	margin-left: 265px;
	justify-content: center;
	padding-left: 184px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image7:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image7 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 10px;
	margin-left: 20px;
}

.bubble8 {
	height: 80px;
	margin-bottom: 100px;
	margin-left: 893px;
	padding-top: 190px;
	padding-bottom: -200px;
	justify-content: center;
	padding-left: 217px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image8:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image8 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 10px;
	margin-left: 40px;
}
.bubble9 {
	height: 0px;
	margin-bottom: 100px;
	margin-left: 1300px;
	padding-top: -100px;
	padding-bottom: -200px;
	justify-content: center;
	padding-left: 20px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image9:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image9 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 10px;
	margin-left: 20px;
}
.bubble10 {
	height: 0px;
	margin-bottom: 100px;
	margin-left: 200px;
	padding-top: -200px;
	padding-bottom: -200px;
	justify-content: center;
	padding-left: 20px;
	align-items: center;
	position: relative;
	transition-duration: 2s;
	width: 40px;
	display: flex;
	flex-wrap: wrap;
}

.image10:hover {
	transform: scale(0.95);
	border-radius: 100%;
	border: 10px;
}
.image10 img {
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.5);
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 10px;
}

.block2 {
	background-color: #214051;
	padding-bottom: 120px;
	margin-top: 120px;
}

.block2 h1 {
	justify-content: center;
	display: flex;
	margin-top: 30px;
	padding-top: 30px;
}
@keyframes scroll {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(calc(-250px * 5));
	}
}
.slider {
	height: 100px;
	margin: 50px;
	overflow: hidden;
	position: relative;
	width: auto;
}

.slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
}
