@font-face {
	font-family: Poppinsmed;
	src: url(font/Poppins-Medium.ttf);
}

@font-face {
	font-family: Poppinsbold;
	src: url(font/Poppins-Bold.ttf);
}

@font-face {
	font-family: Poppinslight;
	src: url(font/Poppins-Light.ttf);
}

body {
	margin: 0;
	background-color: white;
	font-family: "Poppinsmed";
}

.wrapper {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 11;
	grid-row: 1 / 2;
}

.navwrap {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, minmax(100px, auto));
	position: relative;
}

h1 {
	font-size: 50px;
	font-family: "Poppinsbold";
	color: white;
}

nav {
	width: 100%;
	display: flex;
}

nav h1 {
	color: black;
}

nav h1.first {
	margin-top: 80px;
}

nav h1.styles {
	margin-top: 100px;
}

header {
	grid-column: 1 / 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

header img {
	grid-column: 1 / 3;
	width: 80%;
	align-self: center;
	margin: 0 auto;
	display: block;
}

header nav {
	grid-column: 3 / 11;
	align-self: center;
	position: absolute;
	display: table;
	margin: 0 auto;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	padding-left: 15px;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	position: relative;
	width: 33.333%;
	text-align: center;
	font-weight: bold;
	font-family: "Poppinsmed";
	transition: 0.2s ease color;
}

header nav a:before,
header nav a:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	transition: 0.2s ease transform;
}

header nav a:before {
	top: 0;
	left: 10px;
	width: 6px;
	height: 6px;
}

header nav a:after {
	top: 5px;
	left: 18px;
	width: 4px;
	height: 4px;
}

.button {
	display: block;
	grid-column: 11 / 13;
	height: 40px;
	font-weight: 600;
	line-height: 40px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	background: #214051;
	letter-spacing: 2px;
	border-radius: 0px;
	text-align: center;
	position: relative;
	padding: 5px 15px;
	transition: all 0.35s;
	top: 25%;
}

.button span {
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button::before,
.button::after {
	transform: none;
	content: "";
	position: inherit;
	border-radius: 0;
}

.button:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #04838d;
	border-radius: 0px;
	margin: 0 auto;
	transition: all 0.35s;
}

.button:hover {
	color: #fff;
}

.button:hover:after {
	width: 100%;
}

header nav .active {
	color: #04838d;
}

header nav .active ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	left: 4%;
	width: 45px;
}

header nav a:hover {
	color: #04838d;
}

header nav a:hover:before,
header nav a:hover:after {
	transform: scale(1);
}

header nav a:nth-child(1):hover ~ #indicator {
	background: linear-gradient(130deg, #214051, #04838d);
	width: 100%;
}

header .button {
	margin-bottom: 30px;
	width: 75%;
}

.intro {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax(100px, auto));
	position: relative;
}

.backgroundimg {
	display: grid;
	grid-template-columns: 5% 15% 10% 5% 5% 5% 10% 10% 15% 20%;
	grid-template-rows: repeat(3, minmax(45px, auto));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.backgroundimg svg {
	margin-top: -100px;
	border-top: solid 20px white;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	z-index: 1;
	grid-column: 1 / 11;
	grid-row: 2 / 3;
}

.navwrap {
	z-index: 2;
}

.introwrap {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 10;
}

.intro h1:nth-child(1) {
	grid-row: 1 / 2;
	color: #214051;
}

.intro .button {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	width: 16%;
}

.bubble1 {
	grid-column: 2 / 6;
	width: 425px;
	grid-row: 2 / 3;
	height: 425px;
	border-radius: 50%;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
}

.bubble2 {
	grid-column: 8 / 9;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	grid-row: 2 / 3;
	align-self: center;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
}

.bubble3 {
	grid-column: 6 / 9;
	width: 200px;
	height: 200px;
	grid-row: 2 / 3;
	border-radius: 50%;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	align-self: end;
}

.bubble4 {
	grid-column: 4 / 6;
	width: 100px;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	border-radius: 50%;
	height: 100px;
	grid-row: 3 / 4;
}

.bubble5 {
	grid-column: 9 / 10;
	width: 325px;
	grid-row: 1 / 3;
	height: 325px;
	border-radius: 50%;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
}

.bubble6 {
	grid-column: 1 / 3;
	width: 200px;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	border-radius: 50%;
	height: 200px;
	margin-left: -75px;
	grid-row: 3 / 4;
}

.bubble7 {
	grid-column: 6 / 9;
	width: 150px;
	height: 150px;
	grid-row: 2 / 3;
	border-radius: 50%;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	margin-top: 50px;
}

.bubble8 {
	grid-column: 9 / 10;
	width: 150px;
	height: 150px;
	grid-row: 2 / 3;
	border-radius: 50%;
	filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	margin-top: 50px;
	align-self: end;
}

.backgroundimg h1 {
	color: #214051;
	grid-column: 8 / 11;
	grid-row: 3 / 4;
	text-align: center;
	font-family: "Poppinsbold";
}

.infowrapper {
	background-color: #c7ddd8;
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
}

.info {
	padding: 30px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 70px auto;
	grid-column-gap: 50px;
}

.info h2 {
	color: black;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	font-size: 30px;
	font-family: "Poppinsbold";
}

.info .underlining {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	border-bottom: 1px solid black;
	opacity: 50%;
}

.info p {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.info img {
	grid-column: 2 / 3;
	grid-row: 1 / 4;
	width: 100%;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
}

.info .button {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
	width: 25%;
}

.wordlid {
	padding: 50px 0 50px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px 100px auto;
	grid-column-gap: 50px;
}

.wordlid img {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	border: 15px solid #214051;
}

.wordlid h2 {
	color: black;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	font-size: 30px;
	font-family: "Poppinsbold";
}

.wordlid .underlining {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	border-bottom: 1px solid black;
	opacity: 50%;
}

.wordlid p {
	grid-column: 2/ 3;
	grid-row: 2 / 3;
}

.wordlid .button {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
	width: 25%;
}

.cards {
	padding: 30px 0 30px 0;
	display: grid;
	grid-template-columns: 30.3% 30.3% 30.3%;
	grid-template-rows: 18em;
	grid-column-gap: 50px;
	width: 100%;
}

.card1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 17% 20% 65%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 7px black;

}

.card2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 17% 20% 65%;
	background-color: white;
	box-shadow: 0px 0px 7px black;
	border-radius: 10px;
}

.card3 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 17% 20% 65%;
	background-color: white;
	box-shadow: 0px 0px 7px black;
	border-radius: 10px;
}

.estetic {
	background-color: #214051;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

.card1 img {
	height: 100%;
	margin: 0 auto;
	margin-top: -30px;
	border: 4px solid #214051;
	border-radius: 40px;
}

.card2 img {
	height: 100%;
	margin: 0 auto;
	margin-top: -30px;
	border: 4px solid #214051;
	border-radius: 40px;
}

.card3 img {
	height: 100%;
	margin: 0 auto;
	margin-top: -30px;
	border: 4px solid #214051;
	border-radius: 40px;
}

.card1 .add {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	text-align: center;
}

.card2 .add {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	text-align: center;
}

.card3 .add {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	text-align: center;
}

.wrapperfoot {
	margin: 0 auto;
	padding: 0 200px;
	display: flex;
	flex-wrap: wrap;
}

.colorbackground {
	background-color: #04838d;
}

.einde {
	padding: 50px 0 50px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: minmax(10em, auto);
	grid-column-gap: 20px;
	color: white;
}

.Ops1 h3 {
	font-family: "Poppinsbold";
}

.Ops1 {
	border-right: 1px solid white;
	padding-right: 20px;
}

.Ops2 h3 {
	font-family: "Poppinsbold";
	text-align: center;
}

.Ops2 {
	border-right: 0.5px solid white;
	padding-right: 20px;
}

.Ops2 img {
	width: 45%;
}

footer p {
	line-height: 1.7em;
}

footer p a {
	text-decoration: none;
	color: white;
}

.Ops1 img {
	width: 18%;
}

.info h2 {
	color: #214051;
}

.wordlid h2 {
	color: #214051;
}

.einde .Ops1:nth-child(5) {
	border: none;
}

.einde p {
	font-size: 13px;
}

@media (max-width: 1024px) {
	.wrapper {
		margin: 0 auto;
		padding: 0 100px;
		display: flex;
		flex-wrap: wrap;
		grid-column: 1 / 11;
		grid-row: 1 / 2;
	}
	
	.navwrap {
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(1, minmax(100px, auto));
		position: relative;
	}
	
	h1 {
		font-size: 50px;
		font-family: "Poppinsbold";
		color: white;
	}
	
	nav {
		width: 100%;
		display: flex;
	}
	
	nav h1 {
		color: black;
	}
	
	nav h1.first {
		margin-top: 80px;
	}
	
	nav h1.styles {
		margin-top: 100px;
	}
	
	header {
		grid-column: 1 / 13;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	
	header img {
		grid-column: 1 / 2;
		width: 100%;
		align-self: center;
		margin: 0 auto;
		display: block;
	}
	
	header nav {
		grid-column: 3 / 11;
		align-self: center;
		position: absolute;
		display: table;
		margin: 0 auto;
	}
	
	header nav ul {
		margin: 0;
		padding: 0;
	}
	
	header nav ul li {
		display: inline;
		padding-left: 15px;
	}
	
	header nav ul li a {
		color: black;
		text-decoration: none;
		position: relative;
		width: 33.333%;
		text-align: center;
		font-weight: bold;
		font-family: "Poppinsmed";
		transition: 0.2s ease color;
	}
	
	header nav a:before,
	header nav a:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		transform: scale(0);
		transition: 0.2s ease transform;
	}
	
	header nav a:before {
		top: 0;
		left: 10px;
		width: 6px;
		height: 6px;
	}
	
	header nav a:after {
		top: 5px;
		left: 18px;
		width: 4px;
		height: 4px;
	}
	
	.button {
		display: block;
		grid-column: 11 / 13;
		height: 40px;
		font-weight: 600;
		line-height: 40px;
		font-size: 18px;
		text-decoration: none;
		color: white;
		background: #214051;
		letter-spacing: 2px;
		border-radius: 0px;
		text-align: center;
		position: relative;
		padding: 5px 15px;
		transition: all 0.35s;
		top: 25%;
	}
	
	.button span {
		position: relative;
		z-index: 2;
		margin: 0 auto;
	}
	
	.button::before,
	.button::after {
		transform: none;
		content: "";
		position: inherit;
		border-radius: 0;
	}
	
	.button:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #04838d;
		border-radius: 0px;
		margin: 0 auto;
		transition: all 0.35s;
	}
	
	.button:hover {
		color: #fff;
	}
	
	.button:hover:after {
		width: 100%;
	}
	
	header nav .active {
		color: #04838d;
	}
	
	header nav .active ~ #indicator {
		background: linear-gradient(130deg, #214051, #04838d);
		left: 4%;
		width: 45px;
	}
	
	header nav a:hover {
		color: #04838d;
	}
	
	header nav a:hover:before,
	header nav a:hover:after {
		transform: scale(1);
	}
	
	header nav a:nth-child(1):hover ~ #indicator {
		background: linear-gradient(130deg, #214051, #04838d);
		width: 100%;
	}
	
	header .button {
		margin-bottom: 30px;
		width: 75%;
		top: 15%;
	}
	
	.intro {
		width: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, minmax(100px, auto));
		position: relative;
	}
	
	.backgroundimg {
		display: grid;
		grid-template-columns: 5% 15% 10% 5% 5% 5% 10% 10% 15% 20%;
		grid-template-rows: repeat(3, minmax(45px, auto));
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.backgroundimg svg {
		margin-top: -100px;
		border-top: solid 20px white;
		filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
		z-index: 1;
		grid-column: 1 / 11;
		grid-row: 2 / 3;
	}
	
	.navwrap {
		z-index: 2;
	}
	
	.introwrap {
		margin: 0 auto;
		padding: 0 200px;
		display: flex;
		flex-wrap: wrap;
		grid-column: 1 / 10;
	}
	
	.intro h1:nth-child(1) {
		grid-row: 1 / 2;
		color: #214051;
	}
	
	.intro .button {
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		width: 16%;
	}
	
	.bubble1 {
		grid-column: 2 / 6;
		width: 425px;
		grid-row: 2 / 3;
		height: 425px;
		border-radius: 50%;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	}
	
	.bubble2 {
		grid-column: 8 / 9;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		grid-row: 2 / 3;
		align-self: center;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	}
	
	.bubble3 {
		grid-column: 6 / 9;
		width: 200px;
		height: 200px;
		grid-row: 2 / 3;
		border-radius: 50%;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
		align-self: end;
	}
	
	.bubble4 {
		grid-column: 4 / 6;
		width: 100px;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
		border-radius: 50%;
		height: 100px;
		grid-row: 3 / 4;
	}
	
	.bubble5 {
		grid-column: 9 / 10;
		width: 325px;
		grid-row: 1 / 3;
		height: 325px;
		border-radius: 50%;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
	}
	
	.bubble6 {
		grid-column: 1 / 3;
		width: 200px;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
		border-radius: 50%;
		height: 200px;
		margin-left: -75px;
		grid-row: 3 / 4;
	}
	
	.bubble7 {
		grid-column: 6 / 9;
		width: 150px;
		height: 150px;
		grid-row: 2 / 3;
		border-radius: 50%;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
		margin-top: 50px;
	}
	
	.bubble8 {
		grid-column: 9 / 10;
		width: 150px;
		height: 150px;
		grid-row: 2 / 3;
		border-radius: 50%;
		filter: drop-shadow(5px 6px 6px rgb(0 0 0 / 0.4));
		margin-top: 50px;
		align-self: end;
	}
	
	.backgroundimg h1 {
		color: #214051;
		grid-column: 8 / 11;
		grid-row: 3 / 4;
		text-align: center;
		font-family: "Poppinsbold";
	}
	
	.infowrapper {
		background-color: #c7ddd8;
		margin: 0 auto;
		padding: 0 200px;
		display: flex;
		flex-wrap: wrap;
	}
	
	.info {
		padding: 30px 0 30px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 80px 70px auto;
		grid-column-gap: 50px;
	}
	
	.info h2 {
		color: black;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		font-size: 30px;
		font-family: "Poppinsbold";
	}
	
	.info .underlining {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		border-bottom: 1px solid black;
		opacity: 50%;
	}
	
	.info p {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	
	.info img {
		grid-column: 2 / 3;
		grid-row: 1 / 4;
		width: 100%;
		filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	}
	
	.info .button {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
		width: 25%;
	}
	
	.wordlid {
		padding: 50px 0 50px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 80px 100px auto;
		grid-column-gap: 50px;
	}
	
	.wordlid img {
		grid-column: 1 / 2;
		grid-row: 1 / 4;
		width: 50%;
		margin-right: auto;
		margin-left: auto;
		border: 15px solid #214051;
	}
	
	.wordlid h2 {
		color: black;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		font-size: 30px;
		font-family: "Poppinsbold";
	}
	
	.wordlid .underlining {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		border-bottom: 1px solid black;
		opacity: 50%;
	}
	
	.wordlid p {
		grid-column: 2/ 3;
		grid-row: 2 / 3;
	}
	
	.wordlid .button {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
		width: 25%;
	}
	
	.cards {
		padding: 30px 0 30px 0;
		display: grid;
		grid-template-columns: 30.3% 30.3% 30.3%;
		grid-template-rows: 18em;
		grid-column-gap: 50px;
		width: 100%;
	}
	
	.card1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 17% 20% 65%;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0px 0px 7px black;
	
	}
	
	.card2 {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 17% 20% 65%;
		background-color: white;
		box-shadow: 0px 0px 7px black;
		border-radius: 10px;
	}
	
	.card3 {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 17% 20% 65%;
		background-color: white;
		box-shadow: 0px 0px 7px black;
		border-radius: 10px;
	}
	
	.estetic {
		background-color: #214051;
		border-top-left-radius: 9px;
		border-top-right-radius: 9px;
	}
	
	.card1 img {
		height: 100%;
		margin: 0 auto;
		margin-top: -30px;
		border: 4px solid #214051;
		border-radius: 40px;
	}
	
	.card2 img {
		height: 100%;
		margin: 0 auto;
		margin-top: -30px;
		border: 4px solid #214051;
		border-radius: 40px;
	}
	
	.card3 img {
		height: 100%;
		margin: 0 auto;
		margin-top: -30px;
		border: 4px solid #214051;
		border-radius: 40px;
	}
	
	.card1 .add {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		text-align: center;
	}
	
	.card2 .add {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		text-align: center;
	}
	
	.card3 .add {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 auto;
		text-align: center;
	}
	
	.wrapperfoot {
		margin: 0 auto;
		padding: 0 200px;
		display: flex;
		flex-wrap: wrap;
	}
	
	.colorbackground {
		background-color: #04838d;
	}
	
	.einde {
		padding: 50px 0 50px 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: minmax(10em, auto);
		grid-column-gap: 20px;
		color: white;
	}
	
	.Ops1 h3 {
		font-family: "Poppinsbold";
	}
	
	.Ops1 {
		border-right: 1px solid white;
		padding-right: 20px;
	}
	
	.Ops2 h3 {
		font-family: "Poppinsbold";
		text-align: center;
	}
	
	.Ops2 {
		border-right: 0.5px solid white;
		padding-right: 20px;
	}
	
	.Ops2 img {
		width: 45%;
	}
	
	footer p {
		line-height: 1.7em;
	}
	
	footer p a {
		text-decoration: none;
		color: white;
	}
	
	.Ops1 img {
		width: 18%;
	}
	
	.info h2 {
		color: #214051;
	}
	
	.wordlid h2 {
		color: #214051;
	}
	
	.einde .Ops1:nth-child(5) {
		border: none;
	}
	
	.einde p {
		font-size: 13px;
	}
}

@media (max-width: 768px) {
    

}